.success {
  color: green;
  display: block;
  text-align: center;
  border: 2px dotted green;
  width: 100%;
  padding: 5px;
}

.error {
  color: red;
  display: block;
  text-align: center;
  border: 2px dotted red;
  width: 100%;
  padding: 5px;
}
